@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(0deg, rgb(79, 39, 97) 0%, rgb(4, 9, 70) 100%);
  color: rgb(250, 250, 250);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.title-banner {
  background: linear-gradient(
    0deg,
    rgba(79, 39, 97, 0.7) 0%,
    rgba(4, 9, 70, 0.7) 100%
  );
}
footer {
  color: rgb(250, 250, 250);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
