@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap');


body {
  background: linear-gradient(0deg, rgb(79, 39, 97) 0%, rgb(4, 9, 70) 100%);
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.font-vollkorn {
  font-family: 'Vollkorn', serif;
}

.title-banner {
  background: linear-gradient(
    0deg,
    rgba(79, 39, 97, 0.7) 0%,
    rgba(4, 9, 70, 0.7) 100%
  );
}
footer {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.input-pretty {
  @apply bg-purple-900 rounded-full py-4 placeholder:text-white placeholder:text-center text-center placeholder:font-bold;
}

.info-button {
  @apply text-white text-center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
